.header .v-toolbar__content {
	justify-content: space-between;
}
.back-btn-wrap {
	height: 100%;
	img {
		transform: rotate(90deg);
		width: 50%;
	}
}
.eye-btn-wrap {
	height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
	.text {
		margin: 0;
		font-size: 11px;
		margin-right: -4px;
		color: #000;
		&.show {
			margin-right: -6.5px;
		}
	}
}
.page-wrap {
	height: 100%;
	background-color: #eee;
}
.page-title {
	padding: 14px 0 15px;
	text-align: center;
	font-family: cursive;
	font-weight: 500;
	background-color: #eee;
}
.list {
	display: flex;
	flex-direction: column;
	padding: 0 !important;
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: calc(100vw * 0.4);
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3880ff;
	border-radius: 25px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: cursive;
	background-color: #fff;
	font-size: 16px;
	font-weight: 600;
	color: #333 !important;
	letter-spacing: 1px;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.first-square {
	display: grid;
	grid-template-rows: repeat(8, calc((100vh - 56px) / 17));
	grid-template-columns: calc((100vw / 6) * 5) calc(100vw / 6);
	div {
		grid-row: 1 / 9;
	}
}
.basic-game-first-suare {
	display: grid;
    grid-template: repeat(8, calc((100vh - 56px) / 17))/repeat(5, 1fr);
    grid-column-start: 1;
    grid-row: 1 / 9;
}
.basic-game-second-suare {
    display: grid;
	grid-template: repeat(2, calc((100vh - 56px) / 17))/repeat(5, 1fr);
    grid-column-start: 1;
    grid-row: 1/3;
}
.basic-game-third-suare {
    display: grid;
	grid-template: repeat(5, calc((100vh - 56px) / 17))/repeat(5, 1fr);
    grid-column-start: 1;
    grid-row: 1/6;
}
.icon {
	height: 100%;
	width: 40%;
}
.field {
	height: calc((100vh - 56px) / 17);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 1px solid #000;
	font-family: cursive;
	&.blue {
		background-color: #b6d1ff;
	}
	&.large {
		height: calc(6 * (100vh - 56px) / 17);
	}
	&[disabled] {
		background-color: #c3e2ff;
		background-color: #eee;
		opacity: .7;
	}
	input {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
		border: none;
		font-weight: 600;
	}
}
.second-square {
	display: grid;
	grid-template-columns: calc((100vw / 6) * 5) calc(100vw / 6);
    grid-template-rows: repeat(3, calc((100vh - 56px) / 17));
	div {
		grid-row: 1 / 4;
	}
	.field.large {
		height: calc(2 * (100vh - 56px) / 17);
	}
}
.third-square {
	display: grid;
	grid-template-columns: calc((100vw / 6) * 5) calc(100vw / 6);
    grid-template-rows: repeat(6, calc((100vh - 56px) / 17));
	div {
		grid-row: 1 / 7;
	}
	.column-0 .field:not(.blue) {
		font-size: 12px;
		font-weight: 600;
	}
	.field.large {
		height: calc(5 * (100vh - 56px) / 17);
		display: flex;
		flex-direction: column;
	}
	.total {
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 0;
	}
}
.first-square .column-0 .field, .second-square .column-0 .field, .third-square .column-0 .field, .field.blue, .third-square .field.large {
	font-weight: 600;
}
.to-middle, .from-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	.icon {
		width: 30%;
		height: 40%;
	}
}
.divider {
	width: 50%;
	height: 2px;
	background-color: #000;
}
.total-field {
	width: calc(100% - 6px);
	margin-top: 10px;
	padding: 10px 5px;
	text-align: center;
	border: 2px solid #000;
	border-radius: 18px;
	background-color: #b6d1ff;
	background-color: #2196F3 !important;
	filter: blur(4px);
	&.active {
		filter: blur(0);
	}
}
.medium-game {
	.first-square {
		grid-template: repeat(8, calc((100vh - 56px) / 17)) / repeat(9, 1fr);
	}
	.second-square {
		grid-template: repeat(3, calc((100vh - 56px) / 17)) / repeat(9, 1fr);

	}
	.third-square {
		grid-template: repeat(6, calc((100vh - 56px) / 17)) / repeat(9, 1fr);
		.total {
			font-size: 10px;
		}
	}
	.field {
		width: calc(100vw / 9);
		&.smaller {
			font-size: 12px;
		}
	}
	.third-square {
		.column-0 .field {
			&:not(.blue) {
				font-size: 9px;
			}
			&.blue {
				font-size: 14px;
			}
		}
	}
	.total-field {
		width: 100%;
		padding: 10px 0;
	}
	.field-sec-71, .field-sec-61 {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: #000;
		}
	}
	.field-sec-72, .field-sec-62 {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 1px;
			background-color: #000;
		}
	}
	.field-sec-71, .field-third-65 {
		&:before {
			content: url('../images/arrow-up-outline.svg');
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 16px;
			height: 17px;
			opacity: 0.6;
		}
	}
	.field-sec-72, .field-61 {
		&:after {
			content: url('../images/arrow-down-outline.svg');
			position: absolute;
			top: -4px;
			left: 0;
			width: 16px;
			height: 17px;
			opacity: 0.6;
		}
	}
	.field-61, .field-third-65 {
		position: relative;
	}
}
.large-game {
	.first-square {
		grid-template: repeat(8, calc((100vh - 56px) / 17)) / repeat(12, 1fr);
	}
	.second-square {
		grid-template: repeat(3, calc((100vh - 56px) / 17)) / repeat(12, 1fr);

	}
	.third-square {
		grid-template: repeat(6, calc((100vh - 56px) / 17)) / repeat(12, 1fr);
	}
	.field {
		width: calc(100vw / 12);
		&.smaller {
			font-size: 12px;
		}
		&.smallest {
			font-size: 10px;
		}
		&.result {
			font-size: 12px;
		}
	}
	.total-field {
		position: absolute;
		top: -61px;
		left: calc(50% - 35px);
		width: 70px;
		z-index: 5;
	}
	&:not(.my-game) {
		.field-sec-81, .field-sec-71 {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
		}
		.field-sec-82, .field-sec-72 {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 1px;
				background-color: #000;
			}
		}
		.field-sec-81, .field-third-75 {
			&:before {
				content: url('../images/arrow-up-outline.svg');
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 16px;
				height: 17px;
				opacity: 0.6;
			}
		}
		.field-sec-82, .field-71 {
			&:after {
				content: url('../images/arrow-down-outline.svg');
				position: absolute;
				top: -4px;
				left: 0;
				width: 16px;
				height: 17px;
				opacity: 0.6;
			}
		}
		.field-71, .field-third-75 {
			position: relative;
		}
	}
}
.my-game {
	&.seven {
		.first-square {
			grid-template-columns: calc((100vw / 7) * 5) calc(100vw / 7);
		}
		.second-square {
			grid-template-columns: calc((100vw / 7) * 5) calc(100vw / 7);
		}
		.third-square {
			grid-template-columns: calc((100vw / 7) * 5) calc(100vw / 7);
		}
	}
	&.eight {
		.first-square {
			grid-template-columns: calc((100vw / 8) * 5) calc(100vw / 8);
		}
		.second-square {
			grid-template-columns: calc((100vw / 8) * 5) calc(100vw / 8) calc(100vw / 8);
		}
		.third-square {
			grid-template-columns: calc((100vw / 8) * 5) calc(100vw / 8);
		}
	}
	&.nine {
		.first-square {
			grid-template-columns: calc((100vw / 9) * 5) calc(100vw / 9);
		}
		.second-square {
			grid-template-columns: calc((100vw / 9) * 5) calc(100vw / 9) calc(100vw / 9) calc(100vw / 9);
		}
		.third-square {
			grid-template-columns: calc((100vw / 9) * 5) calc(100vw / 9);
		}
	}
	&.ten {
		.first-square {
			grid-template-columns: calc((100vw / 10) * 5) calc(100vw / 10);
		}
		.second-square {
			grid-template-columns: calc((100vw / 10) * 5) calc(100vw / 10) calc(100vw / 10) calc(100vw / 10) calc(100vw / 10);
		}
		.third-square {
			grid-template-columns: calc((100vw / 10) * 5) calc(100vw / 10);
		}
	}
	&.eleven {
		.first-square {
			grid-template-columns: calc((100vw / 11) * 5) calc(100vw / 11);
		}
		.second-square {
			grid-template-columns: calc((100vw / 11) * 5) calc(100vw / 11) calc(100vw / 11) calc(100vw / 11) calc(100vw / 11) calc(100vw / 11);
		}
		.third-square {
			grid-template-columns: calc((100vw / 11) * 5) calc(100vw / 11);
		}
	}
	&.twelve {
		.first-square {
			grid-template-columns: calc((100vw / 12) * 5) calc(100vw / 12);
		}
		.second-square {
			grid-template-columns: calc((100vw / 12) * 5) calc(100vw / 12) calc(100vw / 12) calc(100vw / 12) calc(100vw / 12) calc(100vw / 12) calc(100vw / 12)
		}
		.third-square {
			grid-template-columns: calc((100vw / 12) * 5) calc(100vw / 12);
		}
	}
	.total-field {
		position: absolute;
		top: -61px;
		left: calc(50% - 35px);
		width: 70px;
		z-index: 5;
	}
	.first-square .to-middle-flag .field:nth-child(2) {
		position: relative;
		&:after {
			content: url('../images/arrow-down-outline.svg');
			position: absolute;
			top: -4px;
			left: 0;
			width: 16px;
			height: 17px;
			opacity: 0.6;
		}
	}
	.second-square .to-middle-flag {
		.field {
			&:first-child {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: #000;
				}
			}
			&:nth-child(2) {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 1px;
					background-color: #000;
				}
			}
		}
	}
	.second-square .from-middle-flag {
		.field {
			&:first-child {
				position: relative;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: #000;
				}
				&:before {
					content: url('../images/arrow-up-outline.svg');
					position: absolute;
					bottom: -2px;
					left: 0;
					width: 16px;
					height: 17px;
					opacity: 0.6;
				}
			}
			&:nth-child(2) {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 1px;
					background-color: #000;
				}
				&:after {
					content: url('../images/arrow-down-outline.svg');
					position: absolute;
					top: -4px;
					left: 0;
					width: 16px;
					height: 17px;
					opacity: 0.6;
				}
			}
		}
	}
	.third-square .to-middle-flag .field:nth-last-child(2) {
		position: relative;
		&:before {
			content: url('../images/arrow-up-outline.svg');
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 16px;
			height: 17px;
			opacity: 0.6;
		}
	}
	.field {
		&.smaller {
			font-size: 12px;
		}
	}
}
.confirmation-modal {
	.close-btn {
		position: absolute;
		right: 10px;
		top: 7px;
		color: #000;
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-right: 1rem;
		padding:0;
	}
	.modal-container {
		padding: 1rem 1rem;
	}
	.modal-header {
		padding: 0;
		border-bottom: none;
	}
	.modal-footer {
		padding: 0;
		border-top: none;
	}
	&.wide {
		.modal-container {
			width: 97%;
		}
	}
}

.modal-mask {
	position: fixed;
	z-index: 11030;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#333, 0.5);
	display: flex;
	transition: opacity .25s ease;
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
	flex: 1;
	max-height: 100vh;
	overflow-y: auto;
}

.modal-container {
	width: 300px;
	margin: 0 auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	text-align: center;
	position: relative;
}

.modal-header {
	text-align: right;
	font-size: 1.5rem;
	.icon {
		position: absolute;
		top: 2rem;
		right: 2rem;
		color: #8a8f90;
		cursor: pointer;
	}
}
.modal-title {
	margin-top: 0;
	font-weight: 600;
	font-size: 22px;
	text-align: center;
}

.modal-body {
	margin: 30px 0 10px;
}
.modal-default-button {
	float: right;
}

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.modal-title-wrapper {
	width: 90%;
    margin: 0 auto;
}
.modal-btn {
    padding: 6px 30px;
    border-radius: 5px;
    color: #2196F3;
    margin: 0 20px;
	border: 2px solid #2196F3;
	&.blue {
		background-color: #2196F3;
		color: #fff;
	}
	&.red-btn {
		background-color: #ed1a3b !important;
		border-color: #ed1a3b !important;
		color: #fff;
	}
	&.white-btn {
		background-color: #fff !important;
		color: #2196F3;
		margin-right: 10px;
		border-width: 1px;
		&:last-child {
			margin-right: 0;
		}
	}
	&.reset {
		margin-top: 20px;
		text-transform: uppercase;
	}
	&.disabled {
		opacity: .4;
	}
}
.dice-wrap {
	display: flex;
    justify-content: center;
    align-items: center;
	&:first-of-type {
		margin: 0 0 20px;
	}
	.multiplier {
		margin-right: 10px;
		font-size: 22px;
		font-weight: 600;
	}
}
.dice {
	position: relative;
    width: 50px;
    height: 50px;
	padding: 0;
    margin: 0;
    margin-right: 2px;
	span {
		position: absolute;
		width: 8px;
		height: 8px;
		background: #fff;
		border-radius: 50%;
		&.one {
			top: 15%;
			left: 10%;
		}
		&.two {
			top: 15%;
			left: 42%;
		}
		&.three {
			top: 15%;
			left: 73%;
		}
		&.four {
			top: 70%;
			left: 10%;
		}
		&.five {
			top: 70%;
			left: 42%;
		}
		&.six {
			top: 70%;
			left: 73%;
		}
		&.center {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.bottom-wrap {
    width: 100%;
	display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
	.modal-btn {
		margin: 0;
	}
}
.ful {
	.multiplier {
		width: 21px;
		font-size: 15px;
	}
	.dice {
		width: calc((100vw - 27px - 46px) / 6);
		height: calc((100vw - 27px - 55px) / 6);
	}
}
.my-game-link {
	display: inline-flex;
    position: relative;
    color: #000 !important;
    text-decoration: none;
	img {
		height: 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(270deg);
		right: -60px;
	}
}
.my-game-draft {
	display: flex;
    justify-content: center;
    height: calc(50vh + 60px);
    padding: 30px 20px;
	font-family: cursive;
	.column {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: calc((100% - 35px) / 11);
		border: 1px solid #000;
		border-left-width: 0;
		&:first-child {
			width: 35px;
			border-left-width: 1px;
		}
	}
	.draft-field {
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(100% / 17);
		border-bottom: 1px solid #000;
		background-color: #fff;
		&.blue {
			border-color: #000 !important;
		}
		&.smaller {
			font-size: 14px;
		}
		&.without-border {
			border-bottom: none;
		}
	}
}
.choose-my-game {
	padding: 0 20px 30px;
	.choose-game-wrap {
		margin-top: 20px;
		.choose-game {
			border-color: #ed1a3b;
		}
	}
	.choose-my-game-title {
		font-family: cursive;
		font-size: 16px;
	}
	.selected-columns {
		display: flex;
		flex-wrap: wrap;
		min-height: 112px;
		.close {
			position: absolute;
			top: -6px;
			right: -7px;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			color: #ed1a3b;
			border: 1px solid #ed1a3b;
			border-radius: 50%;
			font-weight: 700;
			font-family: cursive;
			background-color: #eee;
		}
	}
	.selected-column, .choose-game {
		height: 46px;
		padding: 10px;
		margin-left: 8px;
		margin-top: 10px;
		background-color: #eee;
		border: 1px solid #1976d2;
		border-radius: 15px;
		font-family: cursive;
		&:first-child {
			margin-left: 0;
		}
	}
	.choose-games {
		display: flex;
		flex-wrap: wrap;
	}
	.choose-game {
		position: relative;
		width: 52px;
		display: flex;
		justify-content: center;
		align-items: center;
		.draft-field {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.btn-continue {
	position: fixed;
    bottom: 10px;
    right: 0;
	padding: 6px 30px;
    margin: 0 20px;
	background-color: #ed1a3b !important;
    border: 2px solid #ed1a3b;
    color: #fff;
	text-transform: uppercase;
    border-radius: 10px;
}

.bounce-enter-active {
	animation: bounce-in 0.5s;
}
.bounce-leave-active {
	animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
