.page-wrap {
	height: 100%;
	background-color: #eee;
}
.page-title {
	padding: 14px 0 15px;
	text-align: center;
	font-family: cursive;
	font-weight: 500;
	background-color: #eee;
}
.list {
	display: flex;
	flex-direction: column;
	padding: 0 !important;
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: calc(100vw * 0.4);
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3880ff;
	border-radius: 25px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: cursive;
	background-color: #fff;
	font-size: 16px;
	font-weight: 600;
	color: #333 !important;
	letter-spacing: 1px;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.first-square {
	display: grid;
	grid-template: repeat(8, calc((100vh - 56px) / 17)) / repeat(6, 1fr);
	div {
		grid-row: 1 / 9;
	}
}
.icon {
	height: 100%;
	width: 40%;
}
.field {
	height: calc((100vh - 56px) / 17);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 1px solid #000;
	font-family: cursive;
	&.blue {
		background-color: #b6d1ff;
	}
	&.large {
		height: calc(6 * (100vh - 56px) / 17);
	}
	input {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
		border: none;
		font-weight: 600;
	}
}
.second-square {
	display: grid;
	grid-template: repeat(3, calc((100vh - 56px) / 17)) / repeat(6, 1fr);
	div {
		grid-row: 1 / 4;
	}
	.field.large {
		height: calc(2 * (100vh - 56px) / 17);
	}
}
.third-square {
	display: grid;
	grid-template: repeat(6, calc((100vh - 56px) / 17)) / repeat(6, 1fr);
	div {
		grid-row: 1 / 7;
	}
	.column-0 .field:not(.blue) {
		font-size: 12px;
		font-weight: 600;
	}
	.field.large {
		height: calc(5 * (100vh - 56px) / 17);
		display: flex;
		flex-direction: column;
	}
	.total {
		font-size: 12px;
		font-weight: 600;
		margin-bottom: 0;
	}
}
.first-square .column-0 .field, .second-square .column-0 .field, .third-square .column-0 .field, .field.blue, .third-square .field.large {
	font-weight: 600;
}
.total-field {
	width: calc(100% - 6px);
	margin-top: 10px;
	padding: 10px 5px;
	text-align: center;
	border: 2px solid #000;
	border-radius: 18px;
	background-color: #b6d1ff;
	background-color: #2196F3 !important;
}
.medium-game {
	.first-square, .third-square {
		grid-template: repeat(8, calc((100vh - 56px) / 17)) / repeat(9, 1fr);
	}
	.second-square {
		grid-template: repeat(3, calc((100vh - 56px) / 17)) / repeat(9, 1fr);

	}
	.field {
		width: calc(100vw / 9);
	}
	.third-square {
		.column-0 .field {
			&:not(.blue) {
				font-size: 9px;
			}
			&.blue {
				font-size: 14px;
			}
		}
	}
	.total-field {
		width: 100%;
		padding: 10px 0;
	}
	.divider {
		width: 50%;
		height: 2px;
		background-color: #000;
	}
	.to-middle, .from-middle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.icon {
			width: 30%;
			height: 40%;
		}
	}
}
.field-sec-71, .field-sec-61 {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: #000;
	}
}
.field-sec-72, .field-sec-62 {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 1px;
		background-color: #000;
	}
}
.field-sec-71, .field-third-65 {
	&:before {
		content: url('../images/arrow-up-outline.svg');
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 16px;
		height: 17px;
		opacity: 0.6;
	}
}
.field-sec-72, .field-61 {
	&:after {
		content: url('../images/arrow-down-outline.svg');
		position: absolute;
		top: -4px;
		left: 0;
		width: 16px;
		height: 17px;
		opacity: 0.6;
	}
}
.field-61, .field-third-65 {
	position: relative;
}